In [189]:
import pandas as pd
import numpy as np
import seaborn as sns

In [190]:
df = pd.read_csv('C:/CRPIEDRAHITA/OneDrive - ingeniomayaguez.com/Escritorio/ICESI/ANALISIS EXPLORATORIO DE DATOS/UNIDAD 1/SESIÓN 2/DATA-SET.csv',na_values='?')

In [191]:
df.shape

(4415, 27)

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4415 entries, 0 to 4414
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cod.                  4415 non-null   object
 1   Hacienda              4415 non-null   object
 2   Ste                   4415 non-null   object
 3   Edad                  4415 non-null   float64
 4   Nombre Tp.Corte       4415 non-null   object
 5   Mad.                  4415 non-null   int64
 6   Variedad              4415 non-null   object
 7   Zona Administrativa   4398 non-null   object
 8   Z Ag.                 3864 non-null   object
 9   NC                    4415 non-null   int64
 10  Fecha Liquidacion     4415 non-null   object
 11  Riegos por Gravedad   4415 non-null   float64
 12  Riegos por Aspersion  4415 non-null   float64
 13  Lamina por Gravedad   4415 non-null   float64
 14  Lamina por Aspersion  4415 non-null   float64
 15  Grp.Tenencia Ste      4415 non-null   object
 16  TSHM                  4415 non-null   float64
 17  Topografia            4415 non-null   object
 18  Pr                    2016 non-null   float64
 19  TCH                   4415 non-null   float64
 20  TCHM                  4415 non-null   float64
 21  TAHM                  4415 non-null   float64
 22  Sem Madurante         2980 non-null   float64
 23  Area                  4415 non-null   float64
 24  Ton. Cos              4415 non-null   float64
 25  Sac                   4415 non-null   float64
 26  RDTO                  4415 non-null   float64
dtypes: float64(15), int64(2), object(10)
memory usage: 931.4+ KB

In [193]:
df.head()

,Cod.,Hacienda,Ste,Edad,Nombre Tp.Corte,Mad.,Variedad,Zona Administrativa,Z Ag.,NC,...,Topografia,Pr,TCH,TCHM,TAHM,Sem Madurante,Area,Ton. Cos,Sac,RDTO
0,620,La Aurora Molina,01,11.13,Manual Quemado,0,CC 09-066,1,27H1,3,...,PLO,1138.0,70.197294,6.307035,0.652261,NaN,8.87,622.65,11.5291,10.3418
1,620,La Aurora Molina,01A,11.23,Manual Quemado,0,CC 05-430,1,29H1,3,...,PLO,1135.0,63.490690,5.653668,0.585353,NaN,9.13,579.67,11.5005,10.3535
2,620,La Aurora Molina,01B,10.87,Manual Quemado,0,CC 04-195,1,29H1,3,...,PLO,1080.0,77.091954,7.092176,0.699005,NaN,0.87,67.07,11.1800,9.8560
3,620,La Aurora Molina,02,12.55,Manual Quemado,1,CC 05-430,1,29H1,1,...,PLO,1696.0,116.722615,9.300607,1.101908,14.0,5.66,660.65,13.1533,11.8477
4,620,La Aurora Molina,02A,10.39,Manual Quemado,0,VARIEDADES,1,29H1,4,...,PLO,739.0,24.142276,2.323607,0.272278,NaN,4.92,118.78,13.1490,11.7179

In [194]:
df.tail()

,Cod.,Hacienda,Ste,Edad,Nombre Tp.Corte,Mad.,Variedad,Zona Administrativa,Z Ag.,NC,...,Topografia,Pr,TCH,TCHM,TAHM,Sem Madurante,Area,Ton. Cos,Sac,RDTO
4410,B81,Potrero de Parraga Dominguez,01H,7.26,Manual Incendio,0,CC-8592,NaN,6H1,19,...,PLA,NaN,61.202381,8.430080,0.783357,NaN,5.04,308.46,10.9802,9.2924
4411,B81,Potrero de Parraga Dominguez,01H,10.39,Manual Incendio,0,CC-8592,NaN,6H1,18,...,PLA,NaN,101.736111,9.791734,1.086256,NaN,5.04,512.75,12.3432,11.0936
4412,B81,Potrero de Parraga Dominguez,01Q,7.00,Manual Incendio,0,CC-8592,NaN,23H1,19,...,PLA,NaN,35.000000,5.000000,0.352600,NaN,1.67,58.45,9.7200,7.0520
4413,B81,Potrero de Parraga Dominguez,02A,10.68,Manual Incendio,0,CC-011940,NaN,30H1,8,...,PLA,NaN,67.259259,6.297683,0.737018,NaN,0.81,54.48,13.0600,11.7030
4414,B81,Potrero de Parraga Dominguez,300,8.16,Mecanico Incendio,0,CC 09-535,NaN,23H1,4,...,PLA,NaN,25.272021,3.097061,0.259407,NaN,3.86,97.55,9.8307,8.3759

In [195]:
df_dum = pd.get_dummies(df, columns=['Topografia'], prefix=['Topografia_es'])
df_dum.dtypes

Cod.                     object
Hacienda                 object
Ste                      object
Edad                    float64
Nombre Tp.Corte          object
Mad.                      int64
Variedad                 object
Zona Administrativa      object
Z Ag.                    object
NC                        int64
Fecha Liquidacion        object
Riegos por Gravedad     float64
Riegos por Aspersion    float64
Lamina por Gravedad     float64
Lamina por Aspersion    float64
Grp.Tenencia Ste         object
TSHM                    float64
Pr                      float64
TCH                     float64
TCHM                    float64
TAHM                    float64
Sem Madurante           float64
Area                    float64
Ton. Cos                float64
Sac                     float64
RDTO                    float64
Topografia_es_NSC          bool
Topografia_es_PLA          bool
Topografia_es_PLO          bool
Topografia_es_SUR          bool
dtype: object

In [196]:
df_dum.head()

,Cod.,Hacienda,Ste,Edad,Nombre Tp.Corte,Mad.,Variedad,Zona Administrativa,Z Ag.,NC,...,TAHM,Sem Madurante,Area,Ton. Cos,Sac,RDTO,Topografia_es_NSC,Topografia_es_PLA,Topografia_es_PLO,Topografia_es_SUR
0,620,La Aurora Molina,01,11.13,Manual Quemado,0,CC 09-066,1,27H1,3,...,0.652261,NaN,8.87,622.65,11.5291,10.3418,False,False,True,False
1,620,La Aurora Molina,01A,11.23,Manual Quemado,0,CC 05-430,1,29H1,3,...,0.585353,NaN,9.13,579.67,11.5005,10.3535,False,False,True,False
2,620,La Aurora Molina,01B,10.87,Manual Quemado,0,CC 04-195,1,29H1,3,...,0.699005,NaN,0.87,67.07,11.1800,9.8560,False,False,True,False
3,620,La Aurora Molina,02,12.55,Manual Quemado,1,CC 05-430,1,29H1,1,...,1.101908,14.0,5.66,660.65,13.1533,11.8477,False,False,True,False
4,620,La Aurora Molina,02A,10.39,Manual Quemado,0,VARIEDADES,1,29H1,4,...,0.272278,NaN,4.92,118.78,13.1490,11.7179,False,False,True,False

In [197]:
from sklearn.preprocessing import LabelEncoder
# creamos nuestro label encoder
labelencoder = LabelEncoder()
df['Nombre Tp.Corte_label'] = labelencoder.fit_transform(df['Nombre Tp.Corte'])

In [198]:
df.head()

,Cod.,Hacienda,Ste,Edad,Nombre Tp.Corte,Mad.,Variedad,Zona Administrativa,Z Ag.,NC,...,Pr,TCH,TCHM,TAHM,Sem Madurante,Area,Ton. Cos,Sac,RDTO,Nombre Tp.Corte_label
0,620,La Aurora Molina,01,11.13,Manual Quemado,0,CC 09-066,1,27H1,3,...,1138.0,70.197294,6.307035,0.652261,NaN,8.87,622.65,11.5291,10.3418,2
1,620,La Aurora Molina,01A,11.23,Manual Quemado,0,CC 05-430,1,29H1,3,...,1135.0,63.490690,5.653668,0.585353,NaN,9.13,579.67,11.5005,10.3535,2
2,620,La Aurora Molina,01B,10.87,Manual Quemado,0,CC 04-195,1,29H1,3,...,1080.0,77.091954,7.092176,0.699005,NaN,0.87,67.07,11.1800,9.8560,2
3,620,La Aurora Molina,02,12.55,Manual Quemado,1,CC 05-430,1,29H1,1,...,1696.0,116.722615,9.300607,1.101908,14.0,5.66,660.65,13.1533,11.8477,2
4,620,La Aurora Molina,02A,10.39,Manual Quemado,0,VARIEDADES,1,29H1,4,...,739.0,24.142276,2.323607,0.272278,NaN,4.92,118.78,13.1490,11.7179,2

In [199]:
df.tail ()

,Cod.,Hacienda,Ste,Edad,Nombre Tp.Corte,Mad.,Variedad,Zona Administrativa,Z Ag.,NC,...,Pr,TCH,TCHM,TAHM,Sem Madurante,Area,Ton. Cos,Sac,RDTO,Nombre Tp.Corte_label
4410,B81,Potrero de Parraga Dominguez,01H,7.26,Manual Incendio,0,CC-8592,NaN,6H1,19,...,NaN,61.202381,8.430080,0.783357,NaN,5.04,308.46,10.9802,9.2924,1
4411,B81,Potrero de Parraga Dominguez,01H,10.39,Manual Incendio,0,CC-8592,NaN,6H1,18,...,NaN,101.736111,9.791734,1.086256,NaN,5.04,512.75,12.3432,11.0936,1
4412,B81,Potrero de Parraga Dominguez,01Q,7.00,Manual Incendio,0,CC-8592,NaN,23H1,19,...,NaN,35.000000,5.000000,0.352600,NaN,1.67,58.45,9.7200,7.0520,1
4413,B81,Potrero de Parraga Dominguez,02A,10.68,Manual Incendio,0,CC-011940,NaN,30H1,8,...,NaN,67.259259,6.297683,0.737018,NaN,0.81,54.48,13.0600,11.7030,1
4414,B81,Potrero de Parraga Dominguez,300,8.16,Mecanico Incendio,0,CC 09-535,NaN,23H1,4,...,NaN,25.272021,3.097061,0.259407,NaN,3.86,97.55,9.8307,8.3759,4

In [200]:
df = df.drop(columns=['Z Ag.','Variedad','Pr','Sem Madurante'])

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4415 entries, 0 to 4414
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod.                   4415 non-null   object
 1   Hacienda               4415 non-null   object
 2   Ste                    4415 non-null   object
 3   Edad                   4415 non-null   float64
 4   Nombre Tp.Corte        4415 non-null   object
 5   Mad.                   4415 non-null   int64
 6   Zona Administrativa    4398 non-null   object
 7   NC                     4415 non-null   int64
 8   Fecha Liquidacion      4415 non-null   object
 9   Riegos por Gravedad    4415 non-null   float64
 10  Riegos por Aspersion   4415 non-null   float64
 11  Lamina por Gravedad    4415 non-null   float64
 12  Lamina por Aspersion   4415 non-null   float64
 13  Grp.Tenencia Ste       4415 non-null   object
 14  TSHM                   4415 non-null   float64
 15  Topografia             4415 non-null   object
 16  TCH                    4415 non-null   float64
 17  TCHM                   4415 non-null   float64
 18  TAHM                   4415 non-null   float64
 19  Area                   4415 non-null   float64
 20  Ton. Cos               4415 non-null   float64
 21  Sac                    4415 non-null   float64
 22  RDTO                   4415 non-null   float64
 23  Nombre Tp.Corte_label  4415 non-null   int32
dtypes: float64(13), int32(1), int64(2), object(8)
memory usage: 810.7+ KB

In [207]:
"El data frame empleado para la preparación de datos es el de productividad trabajado en ejercicios anteriores, el cual esta compuesto por 27 
"columnas/categorías y 4415 filas/registros, al desplegar la información del DF nos arroja que las columnas Z Ag. (Zona Agricola), Pr y Sem Madurante arrojan una gran cantidad de datos nulos”
"Ahora la columna 17 topografía el tipo de dato es objeto, por lo que no le puedo dar uso de esa forma para algún modelo, al ser este una clase nominal 
"decidí transformar la columna según los 4 tipos de topografía NSC(Norte San Carlos), PLA (Plano), PLO (Pie de loma) y Sur (Cauca), de esta forma podría 
"incluir esta variable en modelos predictivos de productividad, empleando el one hot encoding”.
"Para la columna 4 Nombre Tp. Corte, al ser un categoría que muy posiblemente pueda emplear como ordinal, al darle una escala al tipo de corte 
"conociendo los rendimientos de cada una, emplee el label encoding”
"Por ultimo elimine columnas que no me aportan nada a mi análisis como lo son Z Ag. (Zona Agricola), Variedad que como vimos en ejercicios anteriores 
"su comportamiento no me permite analizar correlaciones dado a la gran variedad de resultados que arrojan, aunque ahora pensándolo bien si lo amarro 
"a la topografía puede que encontrase algún comportamiento o tendencia, se elimino PR y Sem madurante que al principio pensé en aplicarle one hot encoding, 
"pero note originalmente los dueños de la base de datos ya habían realizado este ejercicio ( columna 5 Mad.(que me dice si se maduro “1” o no “0”
"Se espera las correlaciones mejoren y se puedan encontrare parejas de variables nuevas para estudiar como por ejemplo zona topográfica y variedad.

'sda'